@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active-sidebar {
        @apply px-7 flex items-center py-2 hover:text-nav  bg-alpha text-nav border-l-4 border-primary;
    }
    .inactive-sidebar {
        @apply px-7 flex items-center py-2 border-l-4 hover:text-nav border-transparent text-nav-text;
    }
    .link-artist {
        @apply text-secondary comma cursor-pointer;
    }
    .link-artist:hover {
        @apply text-primary underline comma;
    }

    .btn-primary {
        @apply rounded-full p-2 hover:bg-alpha;
    }

    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 8px;
        width: 8px;
        background-color: white;
        border-radius: 100%;
        box-shadow: -405px 0 0 400px white;
    }
}

@layer base {
    ::-webkit-scrollbar-thumb {
        @apply bg-transparent shadow-sm;
    }
    ::-webkit-scrollbar {
        @apply w-1 bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-none bg-gray-300 /*color trackbar*/;
    }
    .overlay {
        overflow: hidden;
        overflow-y: overlay;
    }

    button {
        outline: none;
    }

    .text-rank {
        color: transparent;
        -webkit-text-stroke: 0.1vw white;
    }
    .text-rank-1 {
        -webkit-text-stroke: 0.1vw blue;
    }
    .text-rank-2 {
        -webkit-text-stroke: 0.1vw greenyellow;
    }
    .text-rank-3 {
        -webkit-text-stroke: 0.1vw red;
    }

    .text-new {
        color: transparent;
        -webkit-text-stroke: 0.1vw rgb(192, 187, 187);
    }

    .comma:not(:last-child):after {
        content: ",";
    }

    .theme-green {
        --primary: 19 134 115;
        --nav-text: 160 160 160;
        --main: 255 255 255;
        --sub: 255 255 255;
        --placeholder: 238 238 238;
        --nav: 255 255 255;
        --alpha: 0 0% 100%;
        --bg-screen: 20 41 34;
        --bg-player: 24 24 24;
        --dark-alpha-50: 0 0 0;
        --secondary: 192 187 187;
    }

    .theme-dark {
        --primary: 155 77 224;
        --nav-text: 160 160 160;
        --main: 255 255 255;
        --sub: 255 255 255;
        --placeholder: 238 238 238;
        --nav: 255 255 255;
        --alpha: 0 0% 100%;
        --bg-screen: 30 30 30;
        --bg-player: 24 24 24;
        --dark-alpha-50: 0 0 0;
        --secondary: 192 187 187;
    }

    .theme-purple {
        --bg-screen: 23 15 35;
        --main: 255 255 255;
        --primary: 155 77 224;
        --nav-text: 218 218 218;
        --nav: 255 255 255;
        --alpha: 0 0% 100%;
        --placeholder: 238 238 238;
        --sub: 255 255 255;
        --bg-player: 23 15 35;
        --dark-alpha-50: 0 0 0;
        --secondary: 192 187 187;
    }

    .theme-blue {
        --bg-screen: 15 26 46;
        --main: 255 255 255;
        --primary: 21 131 112;
        --nav-text: 218 218 218;
        --nav: 255 255 255;
        --alpha: 0 0% 100%;
        --placeholder: 238 238 238;
        --sub: 255 255 255;
        --bg-player: 15 26 46;
        --dark-alpha-50: 0 0 0;
        --secondary: 192 187 187;
    }

    .theme-brown {
        --bg-screen: 37 27 24;
        --main: 255 255 255;
        --primary: 182 95 32;
        --nav-text: 218 218 218;
        --nav: 255 255 255;
        --alpha: 0 0% 100%;
        --placeholder: 238 238 238;
        --sub: 255 255 255;
        --bg-player: 37 27 24;
        --dark-alpha-50: 0 0 0;
        --secondary: 192 187 187;
    }

    .theme-blue-light {
        --bg-screen: 22 42 69;
        --main: 255 255 255;
        --primary: 59 104 239;
        --nav-text: 218 218 218;
        --nav: 255 255 255;
        --alpha: 0 0% 100%;
        --placeholder: 238 238 238;
        --sub: 255 255 255;
        --bg-player: 22 42 69;
        --dark-alpha-50: 0 0 0;
        --secondary: 192 187 187;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

.slick-slider {
    margin: 0 -9px !important;
}

.slick-next {
    right: 26px;
    transform: translateY(-36px);
}
.slick-prev {
    transform: translateY(-36px);
    left: 5px;
    z-index: 10;
}

.hidden-slick .slick-prev,
.hidden-slick .slick-next {
    display: none !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 45px;
}
